/* Starter Lab 7 CSS Code taken from the Google Drive Link*/

/* Note, there are no CSS requirements for this lab, this CSS is just to make it look nice and  match the example in the instructions*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

h2 
{
    color: black;
    text-align: center;
    padding: 0.3%;
    font-weight: bold;
    font-style: Monaco;
}

.main{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 70%;
    max-width: 500px;
    display: grid;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}


.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

#profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.5)
}

.post{
    width: 100%;
    height: 70px;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 0px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

#likebtn{
    width:20px;
    height: 20px;
}

.post-content{
    width: 100%;
    padding: 1%;
}

.description{
    margin: 1%;
    font-size: 0.8rem;
}

.description span{
    font-weight: bold;
    margin-right: 2%;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.6rem;
    margin: 1%;
}

.carousel-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.carousel {
    width:100%;
    height: 300px
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  left: 90%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #1a1a1a;
  border-radius: 100%;
}

button {
  background-color: transparent; 
  border: none;
}