body{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

header{
    color: rgb(255, 183, 0);
    background-color: #613613;
    width: 100%;
    padding: 0 0 0 5%;
}

#text-one{
    padding: 0 0 0 5%;
    font-weight: bold;
}

#text-two{
    padding-left: 5%;
    width: 100%;
    background: rgba(255, 165, 39, 0.313);
}

form{
    border: solid #613613;
    border-style: dotted;
    margin: 0 0 0 3%;
    padding: 2%;
    width: 50%;
    color: black;
    font-style: normal;
}

button{
    border: none;
    background: rgb(255, 183, 0);
}

#text-three{
    padding: 0 0 0 5%;
    font-size: 0.75rem;
}